In [2]:
import pandas as pd

## 春

In [3]:
spring_df = pd.read_csv('../../data/Kigo/kigo_spring.txt', header=None)
spring_df.columns = ['春']

print(spring_df.shape)
spring_df.head()

(2013, 1)

      春
0   藍蒔く
1   藍植う
2  青木の花
3   花青木
4    石蓴

## 夏

In [4]:
summer_df = pd.read_csv('../../data/Kigo/kigo_summer.txt', header=None)
summer_df.columns = ['夏']

print(summer_df.shape)
summer_df.head()

(2321, 1)

         夏
0  アイスコーヒー
1   アイスティー
2   冷しコーヒー
3     冷し紅茶
4     愛鳥週間

## 秋

In [5]:
fall_df = pd.read_csv('../../data/Kigo/kigo_fall.txt', header=None)
fall_df.columns = ['秋']

print(fall_df.shape)
fall_df.head()

(1656, 1)

      秋
0   藍の花
1   青蜜柑
2  赤い羽根
3  愛の羽根
4   赤蜻蛉

## 冬

In [6]:
winter_df = pd.read_csv('../../data/Kigo/kigo_winter.txt', header = None)
winter_df.columns = ['冬']

print(winter_df.shape)
winter_df.head()

(1459, 1)

         冬
0  アイスホッケー
1     青木の実
2        皸
3     あかがり
4       網代

## 新年

In [7]:
newyear_df = pd.read_csv('../../data/Kigo/kigo_newyear.txt', header=None)
newyear_df.columns = ['新年']

print(newyear_df.shape)
newyear_df.head()

(646, 1)

     新年
0   小豆粥
1  十五日粥
2   望の粥
3  伊勢海老
4  鎌倉海老

## text to csv

In [8]:
spring_df.to_csv('../../data/Kigo/kigo_spring.csv', encoding='utf_8_sig')
summer_df.to_csv('../../data/Kigo/kigo_summer.csv', encoding='utf_8_sig')
fall_df.to_csv('../../data/Kigo/kigo_fall.csv', encoding='utf_8_sig')
winter_df.to_csv('../../data/Kigo/kigo_winter.csv', encoding='utf_8_sig')
newyear_df.to_csv('../../data/Kigo/kigo_newyear.csv', encoding='utf_8_sig')